<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" type="/style-sheets/style.css" href="example.css"/> -->

    <style>
        .container{
            display: flex;
        }

        .container > div{
            flex: 1;
        }
    </style>
    <title>Danmark mod madspild</title>
</head>
<body>
    <div class="container head-menu">
        <div id="logo-div"></div>
        <div id="name-div"></div>
        <div id="menu-div"></div>
    </div>

    <div class="container body-div">
            <h1>Danmark mod madspild</h1>
    </div>

    <div class="container footer">
        <div id="address-div">Address</div>
        <div id="contact-div">Contact Us</div>
        <div id="follow-div">Follow Us</div>
    </div>


</body>
</html>